/* basic style */
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
body{
    font:70%  Verdana, Helvetica, sans-serif;
    background: #CAC78A url(images/background.gif) repeat-x fixed
}


/* layout style */
#wrapper{
    width: 750px;
    margin: 0 auto;
    background:#d7d493;
    padding: 0 10px 10px 10px;
}
#header{
    height: 170px;
    background: url(./images/header.gif) no-repeat 0 0;
}   
#oneCollayout #primaryContent{
    margin:  0 0 20px 0;
}
#twoCollayout #primaryContent{
    width: 555px;
    float: right;
}
#threeColLayout #primaryContent{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
#threeColLayout #secondaryContent{
    width: 270px;
    height: 500px;
    float: left;
    margin: 0 0 20px 15px;
}
#sideContent{
    width: 180px;
    float: left;
}
#footer{
    clear: both;
    height: 85px;
    background: url(./images/footer.gif) no-repeat 0 0;
}
.box{
    padding: 5px 10px;
    background: url(./images/diags.gif) repeat 0 0;
    margin-bottom: 20px;
}
.cbb{
    background: #fff;
    padding: 5px 10px 15px;
}

.cbSide{
    background: #fff;
    padding:5px 10px 15px;
    margin-top: 5px;
}


/* nav style */
nav.lnb{padding-top: 70px;}
nav.lnb>ul>li{float:left;}
nav.lnb>ul>li>a{
    padding: 0 15px;
    display: block;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    color: #CAC78A;
}
nav.lnb>ul>li>a::before{
    content: '';
    width: 1px;
    height: 14px;
    position: absolute;
    left: 0px;
    top: 6px;
    background: rgba(255,255,255,0.7);
}
nav.lnb>ul>li:first-child>a::before{background:none;}


/* sideContent nav style */
#sideContent .sideMenu>li>a{
    display: block;
    line-height: 20px;
    border-bottom: 1px solid #e4e3e3;
    color: #4a4a4a;
    background: url(./images/ticks.gif) no-repeat 100% -20px; 
}
#sideContent .sideMenu>li>a:hover{
    color: #d52c27;
    background-position: 100% -40px;
}


/* text style */
h1{text-indent: -9999em;}
h2{
    background: #e3e2aa;
    color: #999860;
}
h3{
    background: #efd044;
    display: inline;
    margin-left: 8px;
}
p{margin: 5px 0 0 45px;}
#sideContent p{margin-left: 0 !important;}
.address-text{margin-top: 20px;}
.pageN>a{
    text-decoration: underline;
    border-left: 1px solid #4a4a4a;
    padding: 0 5px;
    color: #616161;
}
.pageN>a:first-child{
    border-left: 0; 
    text-decoration: none;
}
#footer p{
    padding: 50px 0 0 40px;
    margin-left: 0;
}
#footer p a{
    color : #cbc78a;
    margin-right: 5px;
    text-decoration: underline;    
}
.gonews{
    text-decoration: underline;
}



/* img style */
img{float: left;}
.webday{
    padding-right: 10px;
    background: url(./images/external.gif) no-repeat 100% 0;
    text-decoration: underline;
    color: #4a4a4a;
}
.photoGallery{
    margin: 20px 0 25px 45px;
    overflow: hidden;
}
.thumnail{
    float: left;
    width: 108px;
    height: 74px;
    background: url(./images/shadow.gif) no-repeat 100% 100%;
    margin: 0 40px 20px 0;
    position: relative;
}
.thumnail>img{
    padding: 3px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    left: -4px;
    top:-4px;
}
#threeColLayout .cbb ul li{
    margin: 0 !important;
}


/* form style */
#oneCollayout form{margin-left:45px;}
#oneCollayout form>ul>li{margin:3px 0}
#oneCollayout label{display: block; margin-bottom:3px;}
input,textarea{
    outline-style: none; 
    border:none; 
    background:#d8e8e7;   
}
input{padding:3px; }
textarea{resize: none;}

/* twoCollayout form style */
fieldset{
    border: none;
    margin: 15px 0 10px 0;
}
legend{
    background: #e82744;
    color: #fff;
    padding: 3px;
    margin-bottom: 5px;
}
#twoCollayout label{display: none;}
#threeColLayout label{display: none;}
/* 접근성에서는 legend에서 사이트검색을 읽어주니까 label에서 text-indent 대신 display: none을 씀 */
input[type="image"]{
    background:#d7d493;
    margin-left: 3px;
    margin-bottom:-5px;
    padding:1px !important;
}

