/*basic style*/
*{margin: 0;} 

/*layout style*/
#wrap{
    /* border: 1px solid #ff0000; */
    padding: 10px;
    width: 920px;
    margin: 30px auto;
} 

img{float: left;}
p{
    /* background: yellow; */
    margin-left: 200px;
    width: 700px;
}
.clearfix{
    /* clear: both; */
    /* height: 200px; */
    /* float: left; */
    overflow: hidden;
    background: lightblue;
    margin-bottom: 10px;
    padding: 10px;
}
.clearfix:last-child{margin-bottom: 0;} /*마지막 clearfix에 마진 추가*/

