/* basic style */
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{
    text-decoration : none; 
    color:#898888;
}
body{
    font-family :"Nanum Gothic, sans-serif";
    font-size:12px;
    color: #898888;
}

/* layout style */
#nanum-bbs>#header{
    width: 100%;
    height: 366px;
}
.header-box{
    width: 900px;
    height: 366px;
    margin: 0 auto;
    position: relative;
}
#nanum-bbs>#content{
    width: 900px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 90px;
}
.left{
    width: 224px;
    float: left;
}
.conTop{
    margin-bottom: 54px;
}
.conTop{
    background: url(./image/box.jpg) no-repeat;
    margin-bottom: 55px;
    padding: 25px 26px 15px;
    height: 317px;
}
.conBottom{
    margin-bottom: 25px;    
}
.right{
    width: 640px;
    height: 720px;
    float: right;
}
.location{
    height: 40px;
    margin-bottom: 38px;
}
.bbs{
    height: 400px;
}
#footer1{
    background: #FDDECE;
    width: 100%;
    height: 10px;
}
#footer2{
    background: #F9A778;
    width: 900px;
    height: 60px;
    margin: 0 auto;
}

/* #nanum-bbs > header style */
h1{
    position: absolute;
    left: 0;
    top: 15px;
}
.gnb{
    position: absolute;
    right: 0;
    top: 30px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 2px 3px #999;
    border-radius: 8px;
}
.gnb>li{
    float: left;
}
.gnb>li>a{
    display: block;
    padding: 0 15px;
    line-height: 22px;
    font-size: 8px;
    position: relative;
}
.gnb>li>a::before{
    content: '';
    width: 1px;
    height: 7px;
    position: absolute;
    background-color: #a3a4a5;
    left: 0;
    top: 8px;
}
.gnb>li:first-child>a::before{
    width: 0;
}

/* content style */
.conTop>h2{
    text-align: center;
    margin-bottom: 25px;
}
.conTop>ul>li>a{
    display: block;
    line-height: 31px;
    background: url(./image/off.jpg) no-repeat 13px 13px;
    border-bottom: 1px dotted #c3c3c3;
    text-indent: 30px;
}
.conTop>ul>li>a:hover{
    background: url(./image/bar.png) no-repeat 0 0;
    color: #6389b1;
}
.conTop>ul>li:last-child>a{
    border-bottom: none;
}
.leftImg{
    float: left;
}
.conBottom>ul{
    margin-left: 90px;
}
.conBottom>ul>li>a{
    display: block;
    line-height: 23px;
    border-bottom: 1px solid #e6e6e6;
}
.conBottom>ul>li>a:hover{
    color: #333;
}
.conBottom>ul>li:last-child>a{
    border-bottom: none;
}
.conIn{
    text-align: center;
}

/* bbs style */
th,
td{
    text-align: center;
}
thead{
    background: url(./image/bbs_bar.jpg) no-repeat;
}
.bbsN{
    display: inline-block;
}