/* basic style */
*{margin: 0; padding: 0;}
body{
    font-size: 13px;
}
ul{list-style: none;}
a{
    color: #333;
    text-decoration: none;
}
.header-top,
.header-bottom{
    background: #272727;
}
.header-middle{
    background: #040606;
}

/*header-top style*/
.header-top>.location{
    overflow: hidden; 
    width: 600px;
    margin: 0 auto;
    padding: 5px 0;
}
.header-top>.location>li{
    float: left;    
    padding: 0 10px;
}
.header-top>.location>li>a{
    color: #8C8C9B;
}


/* header-middle style */
.header-middle{   
    position: relative;    
}
.header-middle-inner{
    height: 60px;
    padding: 10px 0;
    width: 950px;
    margin: 0 auto;
    width: 950px;
    position: relative;
}
.header-middle-inner{
    overflow: hidden;
    height: 60px;
    padding: 10px 0;
}
.header-middle-inner>.best{
    position: absolute;
    left: 25px;
    top: 15px;
}
.header-middle-inner>h1{
    text-align: center; 
    padding: 20px 0;
}
.header-middle-inner>.menu-group{
    position: absolute;
    right: 10px;
    top: 20px;
}
.header-middle-inner>.menu-group>ul>li{
    float: right;
}
.header-middle-inner>.menu-group>ul>li>a{
    color: #fff;
}

/* header-bottom style */
.header-bottom>.ex-nav{
    overflow: hidden;
    width: 950px;
    margin: 0 auto;
}
.header-bottom>.ex-nav>li{
    float: left;
    margin: 0 10px;
}
.header-bottom>.ex-nav>li>a{
    color: #fff;
}


/* top2 */
/*
.top2{
    background: #333;    
}
.top2>.top2-1{
   overflow: hidden; 
    width: 950px;
    margin: 0 auto;
    padding: 5px 0;
}
.top2>.top2-1>li{
    float: left;
    padding: 0 10px;
}
.top2>.top2-1>li>a{
    color: #8C8C9B;
    font-size: 12px; 
}
.top2>.top2-1>li:last-child>a{
    color: aqua;
}
*/


.top2{
    background: #333;
    
}
.top2>.top2-1{
    padding: 5px 0;
    text-align: center;
    /* border: 1px solid blue; */

}
.top2>.top2-1>li{
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle; 
    line-height: 1;
    margin-bottom: 3px;
    /* border: 1px solid red; */
}
.top2>.top2-1>li>a{
    color: #8C8C9B;    
    display: inline-block;
    line-height: 20px;
    position: relative;
}
.top2>.top2-1>li:first-child>a{
    color: chocolate;
}
.top2>.top2-1>li:last-child>a{
    color: aqua;
}
.top2>.top2-1>li>a:before{
    content: ' ';
    width: 0%;
    height: 20px;
    border-bottom: 3px solid goldenrod;
    position:absolute;    
    left: 0;
    top: 0;
    transition: width .5s ease-in;     
}
.top2>.top2-1>li>a:hover::before {
    width: 100%;
}
