@charset "utf-8";
h1{font-size:2em;}
h2{font-size:1.5em; line-height:1.25; padding:0 0 0 0;}
h3{font-size:1.25em; line-height:1.5; }
h4{font-size:1.125em;}
h5{font-size:1em;}
h6{font-size:.875em;}
p{font-size:1em;}

h3 a{
	font-weight:bold !important;
	color:#000ad0 !important; 
	text-decoration:underline !important;
}

*{margin:0; padding:0;}
ul,ol{list-style:none;}
a,a:link{text-decoration:none; color:#666;}
img{border:0; vertical-align:top;}
body{
	font-family:Verdana,Arial,Sans-serif;
	font-size:.8em;
	/*웹문서의 기본문자 크기는 16px(12.8=13px)*/
}
.header-inner h1 span{font-style: italic;}
.main-content p{line-height:20px;}
.main-content strong{font-weight:bold; display:block;}
.promo ul{margin-top:20px;}
.promo ul li a{
	display:block;
	color:#000ad0 !important; 
	text-decoration:underline !important;
	line-height:20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}