form{
    margin-top: 20px;
    width: 162px;
    font-size: 12px;
}
form *{
    margin: 0;
    padding: 0;
}
fieldset{
    border: none;
}
legend{
    display: none;
}
.formsection{
    float: left;
    width: 96%;
    padding: .25em;
}
label{
    width: 69px;
    display: inline-block;
}
::placeholder{
    font-size: 10px;
    text-indent: 5px;
}
input{ /*sign-in*/
    padding: 0;
}
input[type="submit"]{ /*sign-in*/
    float:right;
    margin-right: 2px;
}
.find{
    padding-top: 10px;
}
.find>li{
    line-height: 20px;
}
.find>li>a{
    text-decoration: underline;
    color: #069;
}
.find>li>a:hover{
    text-decoration: none;
    color: #336;
}