/* layout style */
#wrapper{
    min-width: 732px;
    max-width: 880px;
    padding: 10px;
    margin: auto;
    background: url(../images/cover_circles.jpg) no-repeat 300px 0; /*nav 이미지가 있어서 왼쪽으로 이동한거*/
}
#header{
    background: url(../images/gray_header.gif) no-repeat 0 0;
    color: #fff;
}
#lnb{
    height: 40px;
}
#contents{
    width: 100%; /*부모인 wrapper의 치수를 받음. 반고정, 반유동 사이트라 %를 넣음*/
    /* float: left; */
    background: url(../images/full_arc.gif) no-repeat 0 0;
}
.content{
    width: 100%;
    float: left;
    margin-right: -180px; /*content와 promo가 형제라 promo가 들어갈 자리를 만든 것 */
}
.left-nav{
    width: 180px;
    float: left;
}
.main-content{
    width: auto;
    margin-left: 180px;
    margin-right: 180px;
}
.promo{
    width: 180px;
    float: left;
}
#footer{
    clear: both;
    background: url(../images/gray_footer.gif) repeat-y 0 0;
    color: #fff;
}

/* 
layout-inner style 따로 지정하는 이유
레이아웃에 해당되는 요소에 padding, border를 주면 가로너비가 늘어나지만
레이아웃 요소안에 엘리먼트(inner)를 생성하고 padding를 주면 너비가 늘어나지 않음
html5에는 inner를 안줘도 가능.
현재는 기본을 알기위해 쓰는 것.
*/
/*layout-inner style*/
.header-inner,
#contents-inner,
.footer-inner{
    overflow: hidden;
}
#contents-inner{
    padding: 0 0 1em .3em;
}
.left-nav-inner{
    padding: 0 .3em ;
}
.header-inner,
.footer-inner{
    padding: 1em .5em;
}
.footer-inner{
    text-align: center;
}