/*nav style*/
#lnb>.lnb-inner>ul>li{
    float: left;
    position: relative;
}
#lnb>.lnb-inner>ul>li:hover>.subMenu{
    display: block;
}
#lnb>.lnb-inner>ul>li>a{
    display: block;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
}
#lnb>.lnb-inner>ul>li>a::before{
    content: " ";
    width: 1px;
    height: 15px;
    background: green;
    position: absolute;
    left: 0;
    top: 12px;
}
.subMenu{
    position: absolute;
    left: 0;
    top: 40px;
    width: 80px;    
    background: rgba(255, 255, 255, 0.8); /*rgba 중 a값은 투명도*/
    border: 1px solid #ccc;
    display: none;
}
.subMenu>li>a{
    display: block;
    line-height: 30px;
    text-indent: 20px;
    border-bottom: 1px solid #ccc;
}
.subMenu>li>a:hover{
    background: rgba(255, 255, 255, 1);
}
.subMenu>li:last-child>a{
    border-bottom: none;
}